 {% extends 'base.html' %}   
 {% block content %}  

       <!-- Result 1 -->
       {% for recipe in search %}
      <div class="row justify-content-center no-gutters">
          <div class="col-lg-6">
            <img class="img-fluid" src="{{ recipe.image }}" alt="{{ recipe.name }}" />
          </div>
          <div class="col-lg-6 order-lg-first">
            <div class="bg-black text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-right">
                  <h4 class="text-white">{{ recipe.name }}</h4>
                  <br>
                  <h5 class="text-white">Ingredients</h5>
                  <p class="mb-0 text-white-50">{{ recipe.ingredients }}</p>
                  <br>
                  <h5 class="text-white">Directions</h5>
                  <p class="mb-0 text-white-50">{{ recipe.directions }}</p>
                  <hr class="d-none d-lg-block mb-0 mr-0">
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <!-- Result 2 -->
        <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
          <div class="col-lg-6">
            <img class="img-fluid" src="{{url_for('static', filename='img/Lunch.jpg')}}" alt="Lunch"/>
          </div>
          <div class="col-lg-6">
            <div class="bg-black text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-left">
                  <h4 class="text-white">{{ recipe.name }}</h4>
                  <p class="mb-0 text-white-50">An example of where you can put an image of a project, or anything else, along with a description.</p>
                  <hr class="d-none d-lg-block mb-0 ml-0">
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
{% endblock %}  

