{% extends 'base.html'%} 
{% block content %}
<div class="row">
    <ul class="collapsible" data-collapsible="accordion">
        {% for task in tasks %}
        <li>
            <div>
                <div class=" task_header col s9">
                    <strong>{{ search.task_name }}</strong>
                </div>
            </div>
            <div class="collapsible-body">
                <span>
                {{ search.ingredients }} 
            </span>
            </div>
        </li>
        {% endfor %}

    </ul>
</div>
{% endblock %}